body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    color: rgb(115, 115, 179);
}

.title{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.navbar{
    text-align: center;
    margin-top: 50px;
}

.results{
    margin-top: 30px;
    color: teal;
}